<div class="home pt-8 flex items-center ml-60 p-4 h-screen">
  <%= render partial: "documentation/navigation" %>
  <section class="max-w-[800px] self-start flex flex-col">
    <h1 class="text-3xl font-bold mb-4">Authentication Endpoints</h1>
    <h2 class="text-xl font-bold mb-2 ml-2">POST /api/login</h2>
    <p class="px-4 py-2">This endpoint allows users to log in to the application by providing their email and password. If the credentials are correct, the server will respond with a JWT token that can be used for subsequent authenticated requests.</p>
    <div class="px-4 pt-2">
      <h3 class="text-[17px] font-bold mb-2 ml-2">Request Parameters</h3>
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Data Type</th>
            <th class="px-4 py-2">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">email</td>
            <td class="border px-4 py-2">string</td>
            <td class="border px-4 py-2">The email address of the user</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">password</td>
            <td class="border px-4 py-2">string</td>
            <td class="border px-4 py-2">The password of the user</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="px-4 pt-6">
      <h3 class="text-[17px] font-bold mb-2 ml-2">Response</h3>
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="px-4 py-2">Status Code</th>
            <th class="px-4 py-2">Response Body</th>
            <th class="px-4 py-2">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">200</td>
            <td class="border px-4 py-2 font-bold text-sm">	{ "token": "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxMjN9.-nPzEi4n8Q2B4GAXVbX9JGMxI6jAnCfQlU6klTwU6lM", "user_name": "Paco" }</td>
            <td class="border px-4 py-2">The token and the name that can be used for subsequent authenticated requests</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">400</td>
            <td class="border px-4 py-2 font-bold text-sm">{ "error": "Invalid email or password" }</td>
            <td class="border px-4 py-2">	The email or password is incorrect and the login attempt is rejected</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">404</td>
            <td class="border px-4 py-2 font-bold text-sm">{ "error": "This user does not exist, you must create an account first" }</td>
            <td class="border px-4 py-2">	The user is not in the database and the login attempt is rejected</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="px-4 pt-6">
      <h3 class="text-[17px] font-bold mb-2 ml-2">Example Request</h3>
      <div class="examples text-slate-900 bg-[#343541] rounded-xl mx-4 my-6">
        <h3 class="pl-4 text-sm text-white font-bold">JavaScript</h3>
        <div class="bg-[#282c34] rounded-xl">
          <pre class="!p-0 rounded-lg bg-[#282c34]">
            <code class="text-sm max-h-80 !p-0">
              const email = 'user@example.com';
              const password = 'password';
      
              fetch('/api/login', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  email: email,
                  password: password
                })
              })
              .then(response => response.json())
              .then(data => {
                // Save the token in localStorage or a cookie
                localStorage.setItem('token', data.token);
              })
              .catch(error => {
                console.error('Error:', error);
              });
            </code>
          </pre>
        </div>
      </div>
    </div>
  </section>
</div>